<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.commonpepper.photosen">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".Photosen"
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.activities.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.SearchActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:launchMode="singleTop"/>
        <activity android:name=".ui.activities.SinglePhotoActivity" />
        <activity android:name=".ui.activities.AboutActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".ui.activities.PreviewActivity" />
        <activity android:name=".ui.activities.CropActivity" />
        <activity android:name=".ui.activities.CategoriesActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".ui.activities.IntroActivity"/>
        <activity android:name=".ui.activities.UserActivity"/>
        <activity android:name=".ui.activities.HistoryActivity"
            android:launchMode="singleTop"/>

        <service android:name=".network.DownloadService" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>

        <meta-data android:name="firebase_crashlytics_collection_enabled" android:value="${enableCrashReporting}" />
    </application>

</manifest>